  <footer id="footer" class="col-span-4 bg-base-800 text-base-50 py-8">
    <div class="max-w-4xl mx-auto text-center">
      <div class="flex justify-center">
      {% for name, url in site.social %}
        {% if url !== "" %}
        <a href="{{ url }}" aria-label="{{ name }}" class="mx-2" target="_blank" rel="noopener noreferrer">
          {% icon name, "w-6 h-6 text-base-200 hover:text-base-400 transition-colors" %}
        </a>
        {% endif %}
      {% endfor %}
      </div>
      <div class="max-w-4xl mx-auto text-center px-3">
        
        <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
          <a class="text-secondary-200 hover:text-secondary-300" property="dct:title" rel="cc:attributionURL" href="https://example.com">{{ site.title }} website</a>
          by 
          <a class="text-secondary-200 hover:text-secondary-300" rel="cc:attributionURL dct:creator" property="cc:attributionName" href="{{ site.maintainer.url }}" target="_blank">{{ site.maintainer.name }}</a>
          is licensed under
          <a class="text-secondary-200 hover:text-secondary-300" href="https://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer">CC BY 4.0</a>
          <img class="inline-block h-6 align-text-bottom" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="">
          <img class="inline-block h-6 align-text-bottom" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="">
        </p>
          
      </div>
      
    </div>
  </footer>
