{% from "macros/theme-toggle.njk" import themeToggle %}

<header class="w-full text-base-700 bg-white dark:bg-base-300 border-t border-base-200 shadow-sm body-font sticky top-0">
	<div class="max-w-4xl mx-auto relative px-4 py-4 flex justify-between items-center bg-white dark:bg-base-300">
		<div class="flex items-center gap-4">
			{# Site Title / Logo #}
			<a href="/{{ site.subDirectory }}/index.html">
				<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 24 24">
					<polygon points="23.25 20.32 .75 20.32 .75 5.65 .75 3.62 23.25 3.62 23.25 20.32" fill="#fff" stroke="var(--color-base-500)" stroke-miterlimit="10" stroke-width=".5"/>
					<line x1="23.17" y1="5.62" x2=".75" y2="5.62" fill="#fff" stroke="var(--color-base-500)" stroke-miterlimit="10" stroke-width=".5"/>
					<circle cx="12" cy="12.91" r="6.65" fill="#fff"/>
					<path d="M14.14,18.07l-.93-2.57h-2.41l-.93,2.57h-2.06c1.14.93,2.6,1.49,4.2,1.49s3.05-.56,4.2-1.49h-2.06Z" fill="var(--color-primary)"/>
					<path d="M10.17,7.08h3.67l3.53,9.77c.81-1.1,1.29-2.47,1.29-3.94,0-3.68-2.98-6.65-6.65-6.65s-6.65,2.98-6.65,6.65c0,1.48.48,2.84,1.29,3.94l3.53-9.77Z" fill="var(--color-primary)"/>
					<ellipse cx="12" cy="12.91" rx="2.26" ry="1.76" fill="#dd0000"/></svg>
			</a>
			<a href="/{{ site.subDirectory }}/index.html" class="mb-0 font-thin text-base-500 dark:text-base-900 text-2xl font-sans italic text-shadow-lg decoration-primary">
				{{ site.title }}
			</a>
		</div>

    {# Mobile "hamburger" menu button #}
		<div class="md:hidden flex items-center gap-2">
			<button class="navbar-burger p-2 pl-3 flex items-center text-base-900 hover:bg-base-200">
				<svg class="block h-6 w-6 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<title>Mobile menu</title>
					<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
				</svg>
			</button>
      {{ themeToggle() }}
		</div>

    {# Desktop Menu Items #}
		<nav class="hidden md:flex md:items-center md:w-auto ">
    {% for item in site.mainMenu %}
      {# Determine if this item is active #}
      {% set isCurrent = item.link | isCurrentPageOrSection(page.url) %}

      <a class="text-base-500 dark:text-base-900 aria-[current]:text-primary aria-[current]:font-bold hover:text-primary px-1 {% if loop.last %}pr-2{% endif %}" href="{{ item.link }}" {% if isCurrent %}aria-current="page"{% endif %}>{{ item.text }}</a>
      {% if not loop.last %}
      <div class="text-base-300">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
        </svg>
      </div>
      {% endif %}
    {% endfor %}
      {{ themeToggle() }}
		</nav>
	</div>
</header>

  {# Mobile Menu #}
	<div class="navbar-menu relative z-50 hidden">
		<div class="navbar-backdrop fixed inset-0 bg-base-800 opacity-25"></div>
		<nav class="fixed top-0 right-0 bottom-0 flex flex-col w-5/6 max-w-2xs py-6 px-6 bg-white border-r overflow-y-auto">
			<div class="flex items-center justify-end mb-8">
        {# Close button #}
				<button class="navbar-close">
					<svg class="h-6 w-6 text-base-400 cursor-pointer hover:text-base-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
					</svg>
				</button>
			</div>
      {# Mobile Menu Items #}
			<div>
				<ul>
        {% for item in site.mainMenu %}
          {% set isCurrent = item.link | isCurrentPageOrSection(page.url) %}
					<li class="mb-2">
						<a class="block p-3 text-base hover:bg-primary-100 hover:text-primary aria-[current]:bg-primary-100 aria-[current]:text-primary aria-[current]:font-bold rounded" href="{{ item.link }}" {% if isCurrent %}aria-current="page"{% endif %}>{{ item.text }}</a>
					</li>
        {% endfor %}
				</ul>
			</div>
		</nav>
	</div>
