@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import './themes/default.css';

@custom-variant dark (&:where(.dark, .dark *));

body {
  color: var(--color-ink); /* USWDS Grade 90 equivalent */
  background-color: var(--color-surface); /* USWDS Grade 0 equivalent */
}