{% macro hero(options = {}) %}
<!-- Hero -->
<div class="{{ "bg-base-900" if options.dark else "bg-surface" }}">
  <div class="bg-linear-to-b from-primary-600/40 via-transparent">
    <div class="max-w-340 mx-auto px-4 sm:px-6 lg:px-8 py-12 md:py-24 space-y-8">

      <!-- Title -->
      <div class="max-w-3xl text-center text-balance mx-auto">
        <h1 class="block font-medium {{ "text-base-200" if options.dark else "text-ink" }} text-4xl sm:text-5xl md:text-6xl lg:text-7xl">
          {{ options.titleText | default("Title text.") | safe }}
        </h1>
      </div>
      <!-- End Title -->

      <div class="max-w-3xl text-center text-balance mx-auto">
        <p class="text-lg {{ "text-base-400" if options.dark else "text-base-600" }}">{{ options.subtitleText | default("Subtitle text.") | safe }}</p>
      </div>

      <!-- Buttons -->
      <div class="text-center">
        <a class="inline-block bg-primary text-on-primary font-medium py-3 px-6 rounded-full hover:bg-primary-500 transition" href="{{ options.buttonLink | default("#") }}">
          {{ options.buttonText | default("Get Started") }}
        </a>
      </div>
      <!-- End Buttons -->
    </div>
  </div>
</div>
<!-- End Hero -->
{% endmacro %}