---
layout: base.njk
---
<div class="max-w-4xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-x-8">
  
  {# Column 1: Navigation (Hidden on mobile, handled by component) #}
  <aside class="col-span-1 py-6">
    {% include "side-navigation.njk" %}
  </aside>

  {# Column 2: Main Content #}
  <div class="col-span-1 md:col-span-3 md:py-4">
    {{ content | safe }}
  </div>

</div>