---
permalink: /open-artifact.json
eleventyExcludeFromCollections: true
---
{
  "name": "{{ site.title }}",
  "description": "{{ site.description }}",
  "longDescription": "{{ site.longDescription | replace("\n", "\\n") }}",
  "maintainer": {
    "name": "{{ site.maintainer.name }}",
    "email": "{{ site.maintainer.email }}",
    "url": "{{ site.maintainer.url }}"
  },
  "homes": "{{ site.homes }}",
  "collaborativeSpaces": "{{ site.collaborativeSpaces }}",
  "needsDoingLists": "{{ site.needsDoingLists }}",
  "adaptingTheProject": "{{ site.adaptingTheProject }}",
  "licenses": "{{ site.licenses }}",
  "tags": {{ site.tags | jsonify | safe }},
  "needsDoing": {
    "sourceType": "{{ site.needsDoing.sourceType }}",
    "url": "{{ site.needsDoing.url }}"
  }
}